<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.geekfocus.zuweie.showfm" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".ShowfmApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.geekfocus.zuweie.showfm.StartupActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:launchMode="singleTask"
            android:name="com.geekfocus.zuweie.showfm.MainActivity"
            android:label="@string/showfm"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name="com.geekfocus.zuweie.showfm.PlayingListActivity"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name="com.geekfocus.zuweie.showfm.NovelDetailActivity"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name="com.geekfocus.zuweie.showfm.LoginActivity2"
            android:label="@string/title_activity_login_activity2"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name="com.geekfocus.zuweie.showfm.SettingActivity"
            android:label="@string/title_activity_setting"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name="com.geekfocus.zuweie.showfm.NovelCommentActivity"
            android:label="@string/title_activity_novel_comment"
            android:theme="@style/AppTheme">
        </activity>

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />

        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />

        <service
            android:name="com.geekfocus.zuweie.showfm.PlayBackService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <service android:name="com.avos.avoscloud.PushService"></service>
        <activity android:name="com.avos.avoscloud.feedback.ThreadActivity"></activity>
        <receiver android:name="com.avos.avoscloud.AVBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="54d038cafd98c5d26b000ed1" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

    </application>

</manifest>
